<!DOCTYPE html>
<html>
    <head>
        <title>Wandoujia 2.0</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="stylesheets/usb-debug-new.css" />
        <script type="text/javascript" src="bower_components/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
    </head>
    <body>
        <div class="wrap vbox">
            <div class="container">
                <div class="w-ui-loading" >
                    <div class="anima">
                        <div class="rotor rotor1"></div>
                        <div class="rotor rotor2"></div>
                        <div class="rotor rotor3"></div>
                        <div class="rotor rotor4"></div>
                        <div class="rotor rotor5"></div>
                        <div class="rotor rotor6"></div>
                        <div class="rotor rotor7"></div>
                        <div class="rotor rotor8"></div>
                    </div>
                </div>
            </div>
            <div class="footer hbox">
                <div class="footer-monitor"></div>
                <div class="footer-ctn">
                    <button class="button primary check-usb-debug">我已打开</button>
                </div>
            </div>
        </div>
        <script type="text/template" id="titleView">
            <div class="hbox title-ctn">
                <div class="title">请打开「USB 调试」开关</div>
                <div class="feedback">还是连不上？我要反馈！</div>
            </div>
        </script>
        <script type="text/template" id="feedBackView">
            <div class="vbox feedback-ctn">
                <div class="hbox">
                    <div class="describe">还是连不上怎么办？试试下面的方法吧！</div>
                    <div class="return">返回教程</div>
                </div>
                <div class="bottom vbox">
                    <div class="hbox message">
                        <div class="number">1</div>
                        <div class="vbox">
                            <div class="describe">下载快速设置器到手机，打开「USB 调试」开关:<br/>请输入您的手机号码，豌豆荚会免费将下载地址用短信的形式发送到您的手机上</div>
                            <div class="send-message">
                                <input type="text"></input>
                                <button>发送短信</button>
                                <p class="not-a-number">您输入的好像不是一个手机号</p>
                                <p class="connect-error">貌似网络不给力，请稍后再试～</p>
                            </div>
                        </div>
                    </div>
                    <div class="hbox help">
                        <div class="number">2</div>
                        <div class="vbox">
                            <div class="describe">访问豌豆荚帮助中心，获取更多帮助：</div>
                            <div class="href-container">
                               <a class="href usb-help" href="http://help.wandoujia.com/entries/21550377-usb" target="_default"><div class="img"/>查看打开「USB 调试」的帮助</a>
                               <a class="href usb-bbs" href="http://help.wandoujia.com/anonymous_requests/new?guid=null&clientVersion=null" target="_default"><div class="img"/>发帖求助，让专业的豌豆们帮您解答</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/template" id="selectView">
            <div class="select-ctn">
                <p class="describe">请按照您的手机品牌选择对应的打开「USB 调试」开关的教程：</p>
                <ul class="select brands">
                <% _.each(brands, function(brand){ %><li class="brand <%= brand.className %>">

                    
                    <% if(brand.className !== 'nobrands'){ %>
                    <div class="top">
                    <% } else {%>
                    <div>
                    <%}%>    
                        <div class="logo <%= brand.className %>"/>
                        <p><%= brand.name %></p>
                    </div>
                    <% if(brand.className !== 'nobrands'){ %>
                    <div class="check-course"><div class="play"/>查看教程</div>
                    <% }%>
                </li><% }); %>
                </ul>
                <p class="describe">按&nbsp;Android&nbsp;系统版选择教程</p>
                <ul class="select systems">
                <% _.each(systems, function(system){ %><li class="system <%= system.className %>">
                        <div class="top">
                            <div class="system-logo <%= system.className %>"/>
                            <p><%= system.name %></p>
                        </div>
                        <div class="check-course"><div class="play"/>查看教程</div>
                </li><% }); %>
                </ul>
            </div>
        </script>
        <script type="text/template" id="sliderView">
            <div class="vbox slider-ctn">
                <div class="hbox">
                    <div class="describe"></div>
                    <div class="more">更多手机教程</div>
                </div>
                <div class="container connect-error">
                    <div class="w-ui-loading" >
                        <div class="anima">
                            <div class="rotor rotor1"></div>
                            <div class="rotor rotor2"></div>
                            <div class="rotor rotor3"></div>
                            <div class="rotor rotor4"></div>
                            <div class="rotor rotor5"></div>
                            <div class="rotor rotor6"></div>
                            <div class="rotor rotor7"></div>
                            <div class="rotor rotor8"></div>
                        </div>
                    </div>
                    <div class="vbox">
                        <div class="error-des">貌似网络不给力，请稍后再试～</div>
                        <button class="reload primary">重试</button>
                    </div>
                </div>
                <div class="container slider-container">
                    <div class="ul-container">
                        <div class="pointer"></div>
                    </div>
                    <div class="navigation">
                        <div class="number"></div>
                        <div class="steps-describe"></div>
                        <div class="page"></div>
                        <div class="button left">
                            <div class="icon"></div>
                        </div>
                        <div class="button right">
                            <div class="icon"></div>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/javascript" src="javascripts/usb-debug-new/usb-debug-new.js"></script>
        <script type="text/javascript" src="javascripts/usb-debug-new/usb-debug-new-device.js"></script>
    </body>
</html>
