*.DS_Store
*.scssc
*.pngc
*.sublime-workspace
/web-new/node_modules/
/web-new/app/javascripts/modules/welcome/welcome.html
/web-new/dist/
/web/.project
/web/.pydevproject
/web/tools/build-zeke.xml
*.sublime-project
.project
/web-new/lint.log
/web-new/result.txt
/web-new/duplicated.txt
