/********************************************************************************
 * This is the CSS declaration of form elements
 * 
 * @author wangye.zhao@wandoujia.com
 ********************************************************************************/
input.w-ui-radio[type="radio"] {
    background: url(../images/radio_normal.png) center center no-repeat;
    border: none;
}

input.w-ui-radio[type="radio"]:hover {
    background: url(../images/radio_hover.png) center center no-repeat;
    border: none;
}

input.w-ui-radio[type="radio"]:checked {
    background: url(../images/radio_checked.png) center center no-repeat;
    border: none;
}
