.w-video .w-video-item-wrapper{
    text-align: center;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;    
}

.w-video .w-video-item-mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/video/play.png) no-repeat center center;   
}

.w-video .w-video-item-mask:hover{
    background: url(../images/video/play_hover.png) no-repeat center center;      
}

.w-video-item-info, .w-photo-item-info{
    max-width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: left;
    color: #4c4c4c;
    background-color: #f6f6f6;
    opacity:.9;
    border-radius: 3px;
    padding: 4px 8px;
    pointer-events: none;
    box-shadow: 1px 1px 2px 0px #ccc;
    word-break: break-all;
}

.w-video-item-info span, .w-photo-item-info span{
    word-break: break-all;
}

.w-video input[type="checkbox"]{
    background-color: #fff;
}

.w-video-item-info .w-video-size, .w-photo-item-info .w-photo-date{
    margin-left: 10px;
}

.w-video-content{
    line-height: 24px;
    text-align: center;
}

.w-video-play-loading{
    min-width: 237px;
    width: 263px;
    height: 60px;
    border: none;
    background: black url(../images/loading_60X20.GIF) no-repeat left top;
    background-size: 100%;
    opacity: .9;
    box-shadow: none;
}

.w-video-play-loading header{
    display: none;
}

.w-video-play-loading footer{
    display: none;
}

.w-video-play-loading .w-window-body{
    color: #fff;
}

.w-video-play-loading .w-ui-progressbar{
    width: 185px;
    height: 40px;
    position: absolute;
    left: 63px;
    top: 14px;
}
.w-video-play-loading .w-ui-progressbar-label{
    height: 40px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal;
}
.w-video-play-loading .w-ui-progressbar-label{
    float: left;
}
.w-video-play-loading header, .w-video-play-loading footer{
    display: none !important;
}

.w-window-import-video li{
    max-width: 450px;
}
.w-video-play-loading .w-ui-progressbar-meter{
    line-height: 40px;
}
.w-video-surppot-tip{
    margin-top: 10px;
}
.w-video-selector-header{
    margin-bottom: 10px;
}
.w-video-surppot-tip .manage-SD-card{
    border: none;
    background: none;
    color: #2d62ca;
}
.w-video-surppot-tip .manage-SD-card:hover{
    background: none;
}