/********************************************************************************
 * Icon Button
 ********************************************************************************/
.w-ui-iconbutton span {
    background: url(../images/CSS-Sprite.png);
    background-position: 0 center;
    background-repeat: no-repeat;
    display: inline-block!important;
    height: 12px;
    margin-bottom: -1px;
    margin-right: 3px;
    width: 12px;
}
/**
 * Menu button
 */
.w-ui-menubutton .label {
    text-align: left;
    -webkit-box-flex: 1;
}
