/*
 * @fileoverview Module Grid Css
 * @author jingfeng@wandoujia.com
 */
.w-grid .w-grid-header .w-grid-header-row,
.w-grid .w-grid-body .w-grid-row {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

.w-grid {
    -webkit-box-flex: 1;
}

.modal-container {
    overflow-y: visible;
    position: relative;
    -webkit-box-flex: 1;
}

.modal-container .modal-container-content {
    overflow: hidden;
    overflow-x: auto;
    padding: 0;
}

.modal-container .modal-container-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
}

.modal-container .modal-container-scrollbar > div {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-flex: 1;
}

.w-grid {
    display: -webkit-box;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-box-orient: vertical;
}

.w-grid .w-grid-header {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 2px;
    padding: 0;
}

.w-grid .w-grid-header .w-grid-header-row {
    color: #646464;
    height: 25px;
    margin-right: 0;
    overflow: hidden;
}

.w-grid .w-grid-column {
    display: -webkit-box;
    -webkit-box-align: center;
}

.w-grid .w-grid-column-label {
    line-height: 25px;
    overflow: hidden;
    -webkit-box-flex: 1;
}

.w-grid .w-grid-column-label .sortable {
    display: inline-block;
}

.w-grid .w-grid-column-label .sortable.asc,
.w-grid .w-grid-column-label .sortable.desc {
    background-image: url(../images/CSS-Sprite.png);
    height: 12px;
    width: 12px;
}

.w-grid .w-grid-column-label .sortable.asc {
    background-position: -420px 0;
}

.w-grid .w-grid-column-label .sortable.desc {
    background-position: -432px 0;
}

.w-grid .w-grid-resizable {
    border-right: 1px solid #ddd;
    cursor: e-resize;
    height: 18px;
    margin-right: 3px;
    width: 3px;
}

.w-grid .w-grid-column-checkbox {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.w-grid .w-grid-column-checkbox input[type="checkbox"] {
    display: block;
}

.w-grid .w-grid-body {
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
}

.w-grid .w-grid-body .w-grid-column {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-align: center;
}

.w-grid .w-grid-body .w-grid-column text.wc {
    width: 100%;
}

.w-grid .w-grid-resize-bar {
    background: #8DBB3E;
    cursor: e-resize;
    display: none;
    height: 100%;
    position: absolute;
    top: 0px;
    width: 1px;
}

.w-grid-sortable.w-grid-sort-desc,
.w-grid-sortable.w-grid-sort-asc,
.w-grid-sortable:hover {
    color: #3C7800;
}

.w-grid-column-flex {
    -webkit-box-flex: 1;
}

.w-page-left .w-grid-body {
    padding-bottom: 15px;
}

/********************************************************************************
 * Grid row style
 ********************************************************************************/
.w-grid-row {
    border-bottom: 2px transparent solid;
    -webkit-transition: background-color .2s linear;
}

.w-grid .w-grid-row input[type="checkbox"],
.w-grid .w-grid-header-row input[type="checkbox"] {
    margin-left: 4px;
}

.w-grid-row:hover,
.w-grid-row.highlight:hover {
    background-color: rgba(226, 250, 192, .5);
}

.w-grid-row:last-child {
    border-bottom: none;
}

.w-grid-row.highlight {
    background-color: #e2fac0;
    border-color: #fff;
    color: #3c7800;
}

.w-grid-row-hide {
    display: none !important;
}

.w-grid-row.highlight .text-secondary {
    color: #3c7800;
}

.w-content-tip {
    line-height: 24px;
    text-align: center;
}

.w-grid-highlighttip{
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, .6);
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    border-radius: 5px;
    position: absolute;
    top: 100px;
    margin-top: -25px;
    left: 50%;
    margin-left: -25px;
    display: none;
}
