/**
 * fileoverview
 * @author jingfeng@wandoujia.com
 */

.w-window {
    display: none;
    min-width: 300px;
    background: #fff;
    border: 1px #aaa solid;
    border-radius: 3px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .5);
    cursor: default;
    position: absolute;

}

.w-window-visible {
    display: block !important;
}

.w-window-hidden {
    display: none !important;
}

.w-window-mask-bg {
    background: #fff;
    display: none;
    left: 0;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.w-window .w-window-header {
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ededed));
    border-radius: 3px 3px 0 0;
    border-bottom: 1px #d6d6d6 solid;
    padding: 7px 8px 7px 10px;
    display: -webkit-box;
    position: relative;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
}

.w-window-draggable .w-window-header {
    cursor: move;
}

.w-window .w-window-header .w-window-title {
    -webkit-box-flex: 1;
}

.w-window .w-window-body {
    padding: 15px;
}

.w-window .w-window-footer {
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    display: -webkit-box;
    padding: 0 15px 15px;
    -webkit-box-pack: end;
}

.w-ui-progress-window {
    height: 140px;
    width: 360px;
}

.w-ui-progress-window .w-window-body {
    height: 35px;
}

.w-ui-progress-window .w-ui-progressbar progress {
    display: none;
}

.w-ui-progress-window .w-ui-progressbar .w-ui-progressbar-meter {
    float: right;
}

/********************************************************************************
 * Notifier Dialog Window
 ********************************************************************************/
.w-window footer label {
    display: block;
    line-height: 24px;
    -webkit-box-flex: 1;
}

.w-window footer label input {
    margin-right: 5px;
    margin-top: -1px;
}

.w-ui-window-footer .check-disposable {
    margin-right: 5px;
    margin-top: -3px;
}


